<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Src</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/"><img src="/logo.png" width="300px"/></a>
<br>
<br>
<a href="https://goo.gl/uIqVjY">앱 다운로드</a>
<br>
<br>

<%= yield %>

</body>
</html>
